{{ partial "header.html" . }}

<main>
    <section id="welcome">
        {{ .Content }}
    </section>

    <hr>

    <section id="posts">
        <h2>
            Latest posts
        </h2>

        <ul>
            {{ range ( where .Site.RegularPages "Section" "=" "post" | first 3 ) }}
                <li>
                    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            {{end}}
            <li>
                <a href="post">older posts...</a>
            </li>
        </ul>
    </section>

</main>

{{ partial "footer.html" . }}
