$white: #eeeeee;
$black: #111111;
$mediumGray: #cccccc;

$textFont: sans-serif;
$titleFont: sans-serif;

$maxPageWidth: 800px;

$textLineHeight: 1.4;
$titleLineHeight: 1;



body {
    background-color: $white;
    color: $black;

    font-family: $textFont;
    line-height: $textLineHeight;
    
    max-width: $maxPageWidth;
    margin: auto;
    padding: 1em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $titleFont;

    line-height: $titleLineHeight;
}

footer {
    text-align: center;

    a {
        text-decoration: none;
    }
}

hr {
    color: $mediumGray;
}

.menu {
    text-align: center;
    padding: 0;

    li {
        display: inline-block;
    }
}

.article-meta {
    text-align: center;
}

.article-meta, .menu a {
    background-color: $mediumGray;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }